main {
    .box__img {
        width: 20rem;
        height: 20rem; 
        margin: 0.3rem;   
        border: 2px solid $colorSecundario;
        display: flex;
        justify-content: center;
        align-items: end;     
        
        .zoom {
            transition: transform .2s; 
        }        
        
        .zoom:hover {
            object-fit: contain;
            transform: scale(1.5); 
        }     
    }

    .galeria_inicio {
        width: 97%;
        margin: 0 auto;
    }
    
    .img__galeria{        
        width: 100%;
        height: 100%; 
        object-fit: cover;   
    }

    .star {
        color: #d66b28;
         font-size: 1.5rem;
    }
    
    .title {   
        text-align: center;
        font-size: 2rem; 
        color:$colorSecundario;
        margin-block-end: 1rem;
        animation-duration: 1.5s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }                
    }

    .subTitle {
        text-align: center;
        font-size: 1.3rem;
        color: black;
    }
       
    .title__img__galeria{
        position: absolute;
        font-size: 2.4rem;        
        font-size:x-large;
        
    }
         
    .bloque_texto{
        border: .5rem solid $colorBorder;
        background: darken($color: $colorBadground, $amount: 3);
        border-radius: 1rem; 
        margin-top: 2rem;       
        margin-bottom: 2rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: 1.5rem 2rem; 
        box-shadow:inset -1px 4px 14px 18px rgba(39,10,10,0.18);
        -webkit-box-shadow:inset -1px 4px 14px 18px rgba(39,10,10,0.18);
        -moz-box-shadow:inset -1px 4px 14px 18px rgba(39,10,10,0.18);     

        h1 {
            font-size: 1.3rem;
            text-align: justify;            
        }
    } 
    
    .p__servicio {
        padding: 1rem;
        text-align: justify;
        background: darken($color: $colorBadground, $amount: 10);
        border-radius: 1rem;
        border: solid 5px $colorBorder;
        box-shadow:inset -1px -1px 25px 6px rgba(255,255,255,0.63);
        -webkit-box-shadow:inset -1px -1px 25px 6px rgba(255,255,255,0.63);
        -moz-box-shadow:inset -1px -1px 25px 6px rgba(255,255,255,0.63);

    }

    .icon {
        width: 9rem;
    }


}

#galeria {
    
    & img{
        object-fit: cover;
        filter:brightness(70%);
        animation: escalar 1.5s infinite alternate;
    }  

    @keyframes escalar {
        to {
            transform: scale(1);
        }
        from {
            transform: scale(1.05);
        }        
    }

    .cuadrado-perfecto{        
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: 1.5rem;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;        
        }

        &:hover img{
            filter:brightness(100%)
        }
        
        &:hover h4{
            display: none;
        }
    }

    & h4{    
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
        position: absolute;
        top: 40%;
        color: $colorBadground;
        font-size:1.8rem ;
        width: 100%;
        top: 0;
    }
}

