header {    
    justify-content: space-between;
    padding-top: .5rem;         

    #logo_cambiante {
        min-height: 165px;
        min-width: 250px;
        width: 50px; 
        cursor: pointer;          
        background: url(../images/logoOberaWeb2_png.png) no-repeat;
        box-shadow: 18px 18px 14px -3px rgba(0,0,0,0.63);
        -webkit-box-shadow: 18px 18px 14px -3px rgba(0,0,0,0.63);
        -moz-box-shadow: 18px 18px 14px -3px rgba(0,0,0,0.63);       
        
        &:hover {
            background: url(../images/logoOberaWeb_png.png) no-repeat;         
        }
    }    

    .redesTop {
        i {
            font-size: 1.3rem;                              
        }        
        
        a{            
            .fab { 
                font-size: 2.5rem;
                color: $colorPrincipal;
                margin: 0 2.5rem; 
                
                &:hover {
                    color: $colorSecundario; 
                    transform: scale(1.25);                                                         
                }
            }
            
        }
    }
}

