
/*Estilos MENU*/
.navbar {    

    .menu {
        background: $colorPrincipal;
        background: linear-gradient(10deg, $colorSecundario, $colorPrincipal ); 
        width: 97%;            
        justify-content: center;
        border-radius: .3rem;
        margin-bottom: 1rem ;
        box-shadow: 18px 18px 14px -3px rgba(0,0,0,0.63);
        -webkit-box-shadow: 18px 18px 14px -3px rgba(0,0,0,0.63);
        -moz-box-shadow: 18px 18px 14px -3px rgba(0,0,0,0.63);

        .fa-phone-alt{    
            color: $colorBadground;
            margin:0 auto;    
            cursor: pointer;
        
            &:hover {
                color: $colorSecundario; 
                transition: all 0.5s ease-in-out;
            }            
        }

        a {
            color: $colorBadground !important; // important para pisar clase de bootstrap
            font-size: 1.3rem;
            
            &:hover,  &:hover > i {
                color:darken($color: $colorTerciario, $amount:25) !important;  // important para pisar clase de bootstrap                             
                transition: all 0.5s ease-in-out;
                font-weight: bold;
            }
        }

        .dropdown-menu {
            background:  darken($color: $colorPrincipal, $amount: 4);
            min-width: 20rem ;
        }

        .busqueda {
            border: 2px inset black;
            box-shadow:$shadowRightBottom;
        }
    }
}