$colorPrincipal:#C85108;
$colorSecundario:#A20E0E;
$colorTerciario:#d66b28;
$colorBadground:#F3F0D1;
$colorBorder:#E29C68;

$shadowRightBottom:10px 10px 5px 0px rgba(0,0,0,0.75);
$shadowAll:2px 1px 5px 5px rgba(0,0,0,0.75);
$text-shadow:  4px -1px 2px rgba(0,0,0,0.6);